<form #userForm="ngForm">
    <div class="imgcontainer mb-1">
        <img src="assets/images/logo2.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <p  class="alert alert-danger"></p>
        <div class="form-group col-md-12 mt-1 mb-1">
            <label><b>E-mail</b></label>
            <span class="text-danger">*</span>
            <input type="text" placeholder="exemple@exemple.com" name="login" required  class="form-control" >
            <div>
                <small class="text-danger" > Veuillez saisir votre login </small>
                <small class="text-danger" > Veuillez saisir l'adresse email au bon format</small>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label><b>Mot de passe</b></label>
            <span class="text-danger">*</span>
            <input type="password" placeholder="******" name="password" required  class="form-control" id="password" >
            <small class="text-danger" > Veuillez saisir votre mot de passe </small>
        </div>
        <button  type="submit" class="btn btn-success">Login</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Mot de passe<a href="#"> oublié?</a></span>
    </div>
</form>
