<h2 align=center class="card-title mt-4 mb-4">Créer votre compte</h2>
            <form method="POST">
              <div class="container">
                
               <div class="row">
                 
                  <div class="col-md-6 pr-1">
                    <div class="form-group">                  
                      <label for="nom"><b>Nom</b></label>
                      <input id="nom" type="text" class="form-control" name="nom" required autofocus >
                    </div>
                  </div>
                  
                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label for="prenom"><b>Prénom</b></label>
                      <input id="prenom" type="text" class="form-control" name="prenom" required data-eye>
                    </div>
                  </div>

                </div>
                
                <div class="row">

                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="password"><b>Mot de passe</b></label>
                      <input id="password" type="password" class="form-control" name="password" required data-eye>
                    </div>
                  </div>

                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label for="email"><b>Email</b></label>
                      <input id="email" type="email" class="form-control" name="email" required>
                    </div>
                  </div>

                </div>
                
                <div class="row">
                  <div class="col-md-8 pr-1">
                    <div class="form-group">
                      <label for="login"><b>Login</b></label>
                      <input id="login" type="text" class="form-control" name="login" required autofocus>
                    </div>   
                  </div> 
                  <div class="col-md-4 px-1">
                    <div class="form-group">
                      <label for="numTel"><b>Contact n°</b></label>
                      <input id="numTel" type="number" class="form-control" name="numTel" required data-eye>
                    </div>
                  </div>
                </div>
                  
                <div class="row">
                  <div class="col-md-12 pr-1">
                    <div class="form-group">
                      <label for="classe"><b>Classe</b></label>
                      <input id="classe" type="text" class="form-control" name="classe" required data-eye>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 pr-1">
                    <div class="form-group">
                      <label for="dateNaissance"><b>Date de naissance</b></label>
                      <input id="dateNaissance" type="date" class="form-control" name="dateNaissance" required data-eye>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 pr-1">
                    <div class="form-group m-0">
                      <button type="submit" name="dataEtudiant" class="btn btn-primary btn-block pb-2 pt-2" >
                          <strong>S'inscrire</strong>
                      </button>
                    </div>
                  </div>
                </div>

                
              </div>
          </form>
              

          <div class="mt-4 text-center">
                Disposez-vous déjà d'un compte? Je me <a routerLink="/etudiant/login">Connecte</a>
          </div>